/* ------ Utilities ------ */
.my-btn {
  border-radius: 25px;
  padding: 10px 15px;
  font-weight: 700;
  color: white;
  border: none;
}

.my-border-hover {
  border-radius: 25px;
  padding: 2px;
  display: inline-block;
  border: 1px solid transparent;
}

.my-border-hover-2 {
  border-radius: 25px;
  display: inline-block;
  border: 1px solid transparent;
}

.altezza-fasulla {
  height: 800px;
}

.spacer {
  margin-top: 30px;
}
/* ------------------------ */

/*------ Header ------*/
header {
  width: 100%;
  height: 80px;
}

.my-pre-header {
  background-color: black;
}

.my-pre-header-logo {
  height: 15px;
  margin: 10px;
}

/* ------ Navbar ------ */
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 700;
}

.my-chevron-down {
  margin-left: 5px;
  width: 10px;
}

.my-ps-navbar .dropdown-toggle::after {
  display: none;
}

.my-lens-svg {
  margin-left: 30px;
  width: 25px;
}
/* ------------ */
/* ------------------------ */

/*------ Sezione 1 ------*/
.my-jumbo-bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100;
  /* background-attachment: fixed; */
  background-image: url("../img/jumbo-bg.png");
  background-color: rgb(36, 35, 35);
  width: 100%;
}

.my-jumbo-text {
  height: 100%;
  width: 100%;
  color: white;
}

.my-margin {
  margin-top: 300px;
}
.my-jumbo-text p {
  padding: 20px 0;
  font-size: 18px;
}

.my-jumbo-logo-container > img {
  padding-bottom: 20px;
  width: 60%;
}

/* ------ Sottosezione 1 ------ */
.my-subsection-1 {
  margin-top: 40px;
}

.my-sub-img-container {
  width: 100%;
  position: relative;
}

[class*="my-sub-bg"] .my-border-hover {
  border: 2px solid transparent;
}

.my-sub-img-bg:hover {
  position: absolute;
  top: 0;
  animation-name: spostamento;
  animation-duration: 3s;
}

.my-sub-img-bg > img {
  width: 100%;
  border-radius: 20px;
}
/* ------------ */
/* ------------------------ */

/*------ Sezione 2 ------*/
.my-section-2-header {
  margin-top: 100px;
}

.my-s2-text > span {
  color: #0675cf;
  font-weight: 600;
}

.my-s2-text > p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #727272;
}

.my-ps5-thumb {
  width: 100%;
}

.my-s2-text {
  height: 100%;
}

/* ------------------------ */

/*------ Sezione 3 ------*/
.my-jumbo-bg-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-color: rgb(36, 35, 35);
  width: 100%;
}

.my-blue-btm-border {
  position: relative;
  margin-bottom: 20px;
}

.my-blue-btm-border > img {
  margin-bottom: 10px;
  width: 100px;
}

.my-blue-btm-border > h6 {
  padding: 10px;
  font-size: 18px;
}

.my-opacity {
  opacity: 0.7;
}
/* ------------------------ */

/* ------ Sezione 4 ------ */
.my-section-4-header {
  padding: 30px 0 20px 0;
  color: white;
}

.my-s4-img-container {
  height: 200px;
  margin-bottom: 120px;
}

.my-s4-img-container > img {
  width: 100%;
  border-radius: 20px;
}

.my-s4-img-container h6 {
  margin-top: 10px;
  width: 90%;
  font-size: 18px;
  color: white;
}
/* ------------------------ */

/* ------ Sezione 5 ------ */
.my-section-5-header {
  margin: 80px 0;
}

.my-s5-text > p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #727272;
}

.my-s5-text > img {
  margin-top: 50px;
  width: 100%;
}
/* ------------------------ */

/* ------ Sezione 6 ------ */
.my-section-6-bg-1 {
  background-color: #bebcbb;
}

.my-section-6-bg-2 {
  background-color: #161c3b;
}

.my-plus-logo {
  width: 60%;
}

.my-banner-1-info {
  font-weight: 600;
}

.my-banner-1-info p {
  margin: 30px 0;
}

.my-banner-1-info input {
  color: #3c6fe5;
}

.my-banner-1-img > img {
  width: 100%;
  height: 100%;
}

.my-banner-2 {
  color: white;
}

.my-banner-2 input {
  color: black;
}

.my-s6-middle img {
  width: 100%;
  margin-bottom: 100px;
}

/* ------------------------ */

/* ------ Social ------ */
.my-footer-social {
  width: 70%;
  margin: 0 auto;
}

.my-social-info img {
  width: 100%;
  margin-bottom: 100px;
}
/* ------------------------ */

/* ------ Footer ------ */
footer {
  background-color: #00439c;
}

.my-spacer-2 {
  padding: 100px 0;
}

.my-ending-footer {
  color: white;
}

.fa-globe {
  font-size: 20px;
  padding-right: 10px;
}

.my-ps-logo-f-png {
  width: 100px;
  margin-bottom: 50px;
}

.my-sie-img {
  width: 120px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.my-ending-footer ul {
  list-style: none;
}

/* ------------------------ */

/*------ COLORI ------*/
.my-bg-orng {
  background-color: #cd3d0f;
}

.my-bg-very-blue {
  background-color: #2d64e6;
}

.my-bg-black {
  background-color: #1f1f1f;
}

.my-bg-brown {
  background-color: #d9dadc;
}

.my-bg-white {
  background-color: #fff;
}

.my-bg-grey {
  background-color: #363636;
}
/* ------------------------ */

/*------ HOVER ------*/
.my-border-hover:hover {
  border: 1px solid;
}

.my-blue-btm-border:hover ::after {
  content: "";
  background: #0072ce;
  position: absolute;
  bottom: 0;

  right: 0;
  height: 2px;
  width: 100%;
}

.my-opacity:hover {
  opacity: 1;
}

/*------ COLORI - HOVER ------*/
.my-border-orng:hover {
  border-color: #cd3d0f;
}

.my-border-very-blue:hover {
  border-color: #2d64e6;
}

.my-border-blue:hover {
  border: 2px solid #0072ce;
}

.my-border-brown:hover {
  border-color: rgba(217, 218, 220, 0.4);
}

.my-border-white:hover {
  border-color: #fff;
}

.my-border-grey:hover {
  border-color: #1f1f1f;
}
/* ------------ */
/* ------------------------ */

/* ------ Keyframes ------ */
@keyframes spostamento {
  0% {
    top: 0;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 0;
  }
}
/* ------------------------ */ ;
